.soup{
    height: 150px;
    width: 150px;

}


.buttons .btn {
    transition: background-color 0.3s, color 0.3s;
    border:  30px solid yellow;
    
  }

  .buttons .btn:hover {
    background-color: #ffc107; 
    color: #fff; 
  }
  